<% provide(:title, 'Idea') %>
<h1>New Idea</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @idea, :url => newidea_path, :html => {:multipart => true} do |f| %>

     <p>
      <%= f.label :idea %>
      <%= f.text_area :content, class: 'form-control' %>
    </p>
    <p>
      <%= f.file_field :image %>
    </p>

      <%= f.submit "Add Idea", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>